extends main-layout
block content
	section.color4.slice#cases
			.ctaBox.ctaBoxFullwidth
					.container
						.row
							.col-lg-12(style="padding-top:50px;")
								h1(style="text-align:center;font-size:3em") 案例分享
								h2.subTitle
							.col-lg-12(style="padding-top:0px;")
								h2(style="text-align:center;font-size:20px")
									| APP CROSS數位出版系統平台提供客戶滿意的銷售管道
							
	
	
	section
		.container.imgHover
			.row
				.container
					.row
						.span4
							.col-lg-12(style="padding-top:50px;")
								h1(style="text-align:left;font-size:36px") 數位雜誌
								hr(style="margin-top:-10px;")
							#myCarousel.carousel.slide
								//Carousel items 
								.carousel-inner
									.active.item
										.col-lg-12
											article.col-sm-3
												section.imgWrapper
													img.img-responsive(src='images/news/news1.jpg', alt='Ashleye template image news')
												.mediaHover
													.mask
													.iconLinks
														a.image-link(href='images/news/news1.jpg', title='Zoom')
															i.icon-search.iconRounded.iconBig
															span zoom
												section.newsText
													h1(style="text-align:left;font-size:20px")
														|含笑食堂
													h2(style="text-align:right;margin-top:-48px;font-size:17px;")
														|三立電視
													hr(style="margin-top:-10px;")
													p(style="font-size: 18px;")
														| 含笑食堂,來自百年老街上，三代不同年齡層女人,面對人生挑戰的愛情智慧和婚姻哲學,它們...
														br
														br
														br
													a.btn.btn-sm(onclick="scrollToAnchor('c1')")
														i.icon-right-open-mini
														| 了解更多
											article.col-sm-3
												section.imgWrapper
													img.img-responsive(src='images/news/news1.jpg', alt='Ashleye template image news')
												.mediaHover
													.mask
													.iconLinks
														a.image-link(href='images/news/news1.jpg', title='Zoom')
															i.icon-search.iconRounded.iconBig
															span zoom
												section.newsText
													h1(style="text-align:left;font-size:20px")
														|挑選牛肉秘密
													h2(style="text-align:right;margin-top:-48px;font-size:17px;")
														|城邦文化
													hr(style="margin-top:-10px;")
													p(style="font-size: 18px;")
														| 含笑食堂,來自百年老街上，三代不同年齡層女人,面對人生挑戰的愛情智慧和婚姻哲學,它們...
														br
														br
														br
													a.btn.btn-sm(onclick="scrollToAnchor('c1')")
														i.icon-right-open-mini
														| 了解更多
											article.col-sm-3
												section.imgWrapper
													img.img-responsive(src='images/news/news1.jpg', alt='Ashleye template image news')
												.mediaHover
													.mask
													.iconLinks
														a.image-link(href='images/news/news1.jpg', title='Zoom')
															i.icon-search.iconRounded.iconBig
															span zoom
												section.newsText
													h1(style="text-align:left;font-size:20px")
														|Journey
													h2(style="text-align:right;margin-top:-48px;font-size:17px;")
														|三立電視
													hr(style="margin-top:-10px;")
													p(style="font-size: 18px;")
														| 含笑食堂,來自百年老街上，三代不同年齡層女人,面對人生挑戰的愛情智慧和婚姻哲學,它們...
														br
														br
														br
													a.btn.btn-sm(onclick="scrollToAnchor('c1')")
														i.icon-right-open-mini
														| 了解更多
											article.col-sm-3
												section.imgWrapper
													img.img-responsive(src='images/news/news1.jpg', alt='Ashleye template image news')
												.mediaHover
													.mask
													.iconLinks
														a.image-link(href='images/news/news1.jpg', title='Zoom')
															i.icon-search.iconRounded.iconBig
															span zoom
												section.newsText
													h1(style="text-align:left;font-size:20px")
														|含笑食堂
													h2(style="text-align:right;margin-top:-48px;font-size:17px;")
														|三立電視
													hr(style="margin-top:-10px;")
													p(style="font-size: 18px;")
														| 含笑食堂,來自百年老街上，三代不同年齡層女人,面對人生挑戰的愛情智慧和婚姻哲學,它們...
														br
														br
														br
													a.btn.btn-sm(onclick="scrollToAnchor('c1')")
														i.icon-right-open-mini
														| 了解更多

									.item
										.col-lg-12
											article.col-sm-3
												section.imgWrapper
													img.img-responsive(src='images/news/news1.jpg', alt='Ashleye template image news')
												.mediaHover
													.mask
													.iconLinks
														a.image-link(href='images/news/news1.jpg', title='Zoom')
															i.icon-search.iconRounded.iconBig
															span zoom
												section.newsText
													h1(style="text-align:left;font-size:20px")
														|含笑食堂
													h2(style="text-align:right;margin-top:-48px;font-size:17px;")
														|三立電視
													hr(style="margin-top:-10px;")
													p(style="font-size: 18px;")
														| 含笑食堂,來自百年老街上，三代不同年齡層女人,面對人生挑戰的愛情智慧和婚姻哲學,它們...
														br
														br
														br
													a.btn.btn-sm(onclick="scrollToAnchor('c1')")
														i.icon-right-open-mini
														| 了解更多
								// Carousel nav 
								a.carousel-control.left(href='#myCarousel', data-slide='prev')
									img(src='images/viewPlus/shoecase_button_normal__L.png', style="margin-top:250px;margin-left:-250px;")
								a.carousel-control.right(href='#myCarousel', data-slide='next')
									img(src='images/viewPlus/shoecase_button_normal__R.png', style="margin-top:250px;margin-left:190px;")

	
	
	section
		.container.imgHover
			.row
				.container
					.row
						.span4
							.col-lg-12(style="padding-top:50px;")
								h1(style="text-align:left;font-size:36px") 出版文化
								hr(style="margin-top:-10px;")
							#myCarousel2.carousel.slide
								//Carousel items 
								.carousel-inner
									.active.item
										.col-lg-12
											article.col-sm-3
												section.imgWrapper
													img.img-responsive(src='images/news/news1.jpg', alt='Ashleye template image news')
												.mediaHover
													.mask
													.iconLinks
														a.image-link(href='images/news/news1.jpg', title='Zoom')
															i.icon-search.iconRounded.iconBig
															span zoom
												section.newsText
													h1(style="text-align:left;font-size:20px")
														|含笑食堂
													h2(style="text-align:right;margin-top:-48px;font-size:17px;")
														|三立電視
													hr(style="margin-top:-10px;")
													p(style="font-size: 18px;")
														| 含笑食堂,來自百年老街上，三代不同年齡層女人,面對人生挑戰的愛情智慧和婚姻哲學,它們...
														br
														br
														br
													a.btn.btn-sm(onclick="scrollToAnchor('c1')")
														i.icon-right-open-mini
														| 了解更多
											article.col-sm-3
												section.imgWrapper
													img.img-responsive(src='images/news/news1.jpg', alt='Ashleye template image news')
												.mediaHover
													.mask
													.iconLinks
														a.image-link(href='images/news/news1.jpg', title='Zoom')
															i.icon-search.iconRounded.iconBig
															span zoom
												section.newsText
													h1(style="text-align:left;font-size:20px")
														|挑選牛肉秘密
													h2(style="text-align:right;margin-top:-48px;font-size:17px;")
														|城邦文化
													hr(style="margin-top:-10px;")
													p(style="font-size: 18px;")
														| 含笑食堂,來自百年老街上，三代不同年齡層女人,面對人生挑戰的愛情智慧和婚姻哲學,它們...
														br
														br
														br
													a.btn.btn-sm(onclick="scrollToAnchor('c1')")
														i.icon-right-open-mini
														| 了解更多
											article.col-sm-3
												section.imgWrapper
													img.img-responsive(src='images/news/news1.jpg', alt='Ashleye template image news')
												.mediaHover
													.mask
													.iconLinks
														a.image-link(href='images/news/news1.jpg', title='Zoom')
															i.icon-search.iconRounded.iconBig
															span zoom
												section.newsText
													h1(style="text-align:left;font-size:20px")
														|Journey
													h2(style="text-align:right;margin-top:-48px;font-size:17px;")
														|三立電視
													hr(style="margin-top:-10px;")
													p(style="font-size: 18px;")
														| 含笑食堂,來自百年老街上，三代不同年齡層女人,面對人生挑戰的愛情智慧和婚姻哲學,它們...
														br
														br
														br
													a.btn.btn-sm(onclick="scrollToAnchor('c1')")
														i.icon-right-open-mini
														| 了解更多
											article.col-sm-3
												section.imgWrapper
													img.img-responsive(src='images/news/news1.jpg', alt='Ashleye template image news')
												.mediaHover
													.mask
													.iconLinks
														a.image-link(href='images/news/news1.jpg', title='Zoom')
															i.icon-search.iconRounded.iconBig
															span zoom
												section.newsText
													h1(style="text-align:left;font-size:20px")
														|含笑食堂
													h2(style="text-align:right;margin-top:-48px;font-size:17px;")
														|三立電視
													hr(style="margin-top:-10px;")
													p(style="font-size: 18px;")
														| 含笑食堂,來自百年老街上，三代不同年齡層女人,面對人生挑戰的愛情智慧和婚姻哲學,它們...
														br
														br
														br
													a.btn.btn-sm(onclick="scrollToAnchor('c1')")
														i.icon-right-open-mini
														| 了解更多

									.item
										.col-lg-12
											article.col-sm-3
												section.imgWrapper
													img.img-responsive(src='images/news/news1.jpg', alt='Ashleye template image news')
												.mediaHover
													.mask
													.iconLinks
														a.image-link(href='images/news/news1.jpg', title='Zoom')
															i.icon-search.iconRounded.iconBig
															span zoom
												section.newsText
													h1(style="text-align:left;font-size:20px")
														|含笑食堂
													h2(style="text-align:right;margin-top:-48px;font-size:17px;")
														|三立電視
													hr(style="margin-top:-10px;")
													p(style="font-size: 18px;")
														| 含笑食堂,來自百年老街上，三代不同年齡層女人,面對人生挑戰的愛情智慧和婚姻哲學,它們...
														br
														br
														br
													a.btn.btn-sm(onclick="scrollToAnchor('c1')")
														i.icon-right-open-mini
														| 了解更多
								// Carousel nav 
								a.carousel-control.left(href='#myCarousel2', data-slide='prev')
									img(src='images/viewPlus/shoecase_button_normal__L.png', style="margin-top:250px;margin-left:-250px;")
								a.carousel-control.right(href='#myCarousel2', data-slide='next')
									img(src='images/viewPlus/shoecase_button_normal__R.png', style="margin-top:250px;margin-left:190px;")
	section
		.container.imgHover
			.row
				.container
					.row
						.span4
							.col-lg-12(style="padding-top:50px;")
								h1(style="text-align:left;font-size:36px") 產品型錄
								hr(style="margin-top:-10px;")
							#myCarousel3.carousel.slide
								//Carousel items 
								.carousel-inner
									.active.item
										.col-lg-12
											article.col-sm-3
												section.imgWrapper
													img.img-responsive(src='images/news/news1.jpg', alt='Ashleye template image news')
												.mediaHover
													.mask
													.iconLinks
														a.image-link(href='images/news/news1.jpg', title='Zoom')
															i.icon-search.iconRounded.iconBig
															span zoom
												section.newsText
													h1(style="text-align:left;font-size:20px")
														|含笑食堂
													h2(style="text-align:right;margin-top:-48px;font-size:17px;")
														|三立電視
													hr(style="margin-top:-10px;")
													p(style="font-size: 18px;")
														| 含笑食堂,來自百年老街上，三代不同年齡層女人,面對人生挑戰的愛情智慧和婚姻哲學,它們...
														br
														br
														br
													a.btn.btn-sm(onclick="scrollToAnchor('c1')")
														i.icon-right-open-mini
														| 了解更多
											article.col-sm-3
												section.imgWrapper
													img.img-responsive(src='images/news/news1.jpg', alt='Ashleye template image news')
												.mediaHover
													.mask
													.iconLinks
														a.image-link(href='images/news/news1.jpg', title='Zoom')
															i.icon-search.iconRounded.iconBig
															span zoom
												section.newsText
													h1(style="text-align:left;font-size:20px")
														|挑選牛肉秘密
													h2(style="text-align:right;margin-top:-48px;font-size:17px;")
														|城邦文化
													hr(style="margin-top:-10px;")
													p(style="font-size: 18px;")
														| 含笑食堂,來自百年老街上，三代不同年齡層女人,面對人生挑戰的愛情智慧和婚姻哲學,它們...
														br
														br
														br
													a.btn.btn-sm(onclick="scrollToAnchor('c1')")
														i.icon-right-open-mini
														| 了解更多
											article.col-sm-3
												section.imgWrapper
													img.img-responsive(src='images/news/news1.jpg', alt='Ashleye template image news')
												.mediaHover
													.mask
													.iconLinks
														a.image-link(href='images/news/news1.jpg', title='Zoom')
															i.icon-search.iconRounded.iconBig
															span zoom
												section.newsText
													h1(style="text-align:left;font-size:20px")
														|Journey
													h2(style="text-align:right;margin-top:-48px;font-size:17px;")
														|三立電視
													hr(style="margin-top:-10px;")
													p(style="font-size: 18px;")
														| 含笑食堂,來自百年老街上，三代不同年齡層女人,面對人生挑戰的愛情智慧和婚姻哲學,它們...
														br
														br
														br
													a.btn.btn-sm(onclick="scrollToAnchor('c1')")
														i.icon-right-open-mini
														| 了解更多
											article.col-sm-3
												section.imgWrapper
													img.img-responsive(src='images/news/news1.jpg', alt='Ashleye template image news')
												.mediaHover
													.mask
													.iconLinks
														a.image-link(href='images/news/news1.jpg', title='Zoom')
															i.icon-search.iconRounded.iconBig
															span zoom
												section.newsText
													h1(style="text-align:left;font-size:20px")
														|含笑食堂
													h2(style="text-align:right;margin-top:-48px;font-size:17px;")
														|三立電視
													hr(style="margin-top:-10px;")
													p(style="font-size: 18px;")
														| 含笑食堂,來自百年老街上，三代不同年齡層女人,面對人生挑戰的愛情智慧和婚姻哲學,它們...
														br
														br
														br
													a.btn.btn-sm(onclick="scrollToAnchor('c1')")
														i.icon-right-open-mini
														| 了解更多

									.item
										.col-lg-12
											article.col-sm-3
												section.imgWrapper
													img.img-responsive(src='images/news/news1.jpg', alt='Ashleye template image news')
												.mediaHover
													.mask
													.iconLinks
														a.image-link(href='images/news/news1.jpg', title='Zoom')
															i.icon-search.iconRounded.iconBig
															span zoom
												section.newsText
													h1(style="text-align:left;font-size:20px")
														|含笑食堂
													h2(style="text-align:right;margin-top:-48px;font-size:17px;")
														|三立電視
													hr(style="margin-top:-10px;")
													p(style="font-size: 18px;")
														| 含笑食堂,來自百年老街上，三代不同年齡層女人,面對人生挑戰的愛情智慧和婚姻哲學,它們...
														br
														br
														br
													a.btn.btn-sm(onclick="scrollToAnchor('c1')")
														i.icon-right-open-mini
														| 了解更多
								// Carousel nav 
								a.carousel-control.left(href='#myCarousel3', data-slide='prev')
									img(src='images/viewPlus/shoecase_button_normal__L.png', style="margin-top:250px;margin-left:-250px;")
								a.carousel-control.right(href='#myCarousel3', data-slide='next')
									img(src='images/viewPlus/shoecase_button_normal__R.png', style="margin-top:250px;margin-left:190px;")
script(type='text/javascript')
	$(document).ready(function(){
		//alert("life is way 2 short");
	});
	function scrollToAnchor(aid){
		var aTag = $("a[id='"+ aid +"']");
		$('html,body').animate({scrollTop: aTag.offset().top-200},'slow');
	}