extends main-layout
block content
	section.color4.slice#contacts
			.ctaBox.ctaBoxFullwidth
					.container
						.row
							.col-lg-12(style="padding-top:50px;")
								h1(style="text-align:center;font-size:3em") 聯絡我們
								h2.subTitle
							.col-lg-12(style="padding-top:0px;")
								h2(style="text-align:center;font-size:20px")
									| 歡迎您與我們聯繫,無論是數位刊物製作需求、廣告需求或是技術支援 
									br
									| 相關問題皆可以與我們連絡,由數位出版專業人員為您詳細解答。
							
	
	section
		.container.imgHover
			.row
				.col-lg-12(style="padding-top:100px;")
				article.col-sm-4
					h1
						|客戶服務
					section.imgWrapper
						img.img-responsive(src='images/news/news1.jpg', alt='Ashleye template image news')
					.mediaHover
						.mask
						.iconLinks
							a.image-link(href='images/news/news1.jpg', title='Zoom')
								i.icon-search.iconRounded.iconBig
								span zoom
					section.newsText.color4
						p(style="font-size: 18px;")
							| 教育訓練服務
							br
							| 專業諮詢
							br
							| 意見回饋與問題回報
							br
						a.btn.btn-sm(onclick="scrollToAnchor('c1')")
							i.icon-right-open-mini
							| 立即聯絡
				article.col-sm-4
					h1
						設計服務
					section.imgWrapper
						img.img-responsive(src='images/news/news2.jpg', alt='snowflake template image news')
					.mediaHover
						.mask
						.iconLinks
							a.image-link(href='images/news/news2.jpg', title='Zoom')
								i.icon-search.iconRounded.iconBig
								span zoom
					section.newsText.color4
						p(style="font-size: 18px;")
							| 專案設計與規劃
							br
							| 使用者經驗分析
							br
							br
						a.btn.btn-sm(onclick="scrollToAnchor('c1')")
							i.icon-right-open-mini
							| 立即聯絡
				article.col-sm-4(style="margin-bottom:100px;")
					h1
						產品服務
					section.imgWrapper
						img.img-responsive(src='images/news/news2.jpg', alt='snowflake template image news')
					.mediaHover
						.mask
						.iconLinks
							a.image-link(href='images/news/news2.jpg', title='Zoom')
								i.icon-search.iconRounded.iconBig
								span zoom
					section.newsText.color4
						p(style="font-size: 18px;")
							| 產品購買需求
							br
							| 客製化需求
							br
							br
						a.btn.btn-sm(onclick="scrollToAnchor('c1')")
							i.icon-right-open-mini
							| 立即聯絡