!!! 5
html(lang='en')
	head
		//Basic Page Needs================================================== 
		meta(charset='utf-8')
		title Ashley One Page Parallax HTML5, CSS3, responsive, Bootstrap 3 website template
		meta(name='description', content='Ashley is a One Page Bootstrap 3 Premium website Template, using nice Paralax effect, HTML5, CSS3 and Twitter Bootstrap 3')
		meta(name='author', content='Little NEKO')
		//Mobile Specific Metas================================================== 
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		//CSS================================================== 
		// Bootstrap	
		link(type='text/css', rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		//web font	
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800', rel='stylesheet', type='text/css')
		//plugin css	
		link(rel='stylesheet', type='text/css', href='/js-plugin/animation-framework/animate.css')
		link(rel='stylesheet', type='text/css', href='/js-plugin/magnific-popup/magnific-popup.css')
		link(type='text/css', rel='stylesheet', href='/js-plugin/isotope/css/style.css')
		link(rel='stylesheet', type='text/css', href='/js-plugin/flexslider/flexslider.css')
		link(rel='stylesheet', type='text/css', href='/js-plugin/pageSlide/jquery.pageslide.css')
		//Owl carousel
		link(rel='stylesheet', href='/js-plugin/owl.carousel/owl-carousel/owl.carousel.css')
		link(rel='stylesheet', href='/js-plugin/owl.carousel/owl-carousel/owl.theme.css')
		//icon fonts 
		link(type='text/css', rel='stylesheet', href='/font-icons/custom-icons/css/custom-icons.css')
		link(type='text/css', rel='stylesheet', href='/font-icons/custom-icons/css/custom-icons-ie7.css')
		//Custom css 
		link(type='text/css', rel='stylesheet', href='/css/layout.css')
		link#colors(type='text/css', rel='stylesheet', href='/css/colors.css')
		//if lt IE 9 script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
		script(src='/js/modernizr-2.6.1.min.js')
		//Favicons================================================== 
		link(rel='shortcut icon', href='/images/favicon.ico')
		link(rel='apple-touch-icon', href='/images/apple-touch-icon.png')
		link(rel='apple-touch-icon', sizes='72x72', href='/images/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='114x114', href='/images/apple-touch-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='144x144', href='/images/apple-touch-icon-144x144.png')
	body(data-spy='scroll', data-target='#scrollTarget', data-offset='150')
		// Primary Page Layout================================================== 
		// globalWrapper 
		#globalWrapper.localscroll(style="margin-top:-140px;")
			// header 
			section#services.slice.color1(style="height:150px")
				.container
						.row
							.col-sm-6
								.row.boxFeature
									img(src='/images/viewPlus/LOGO.png', alt='viewPlus website template')
			#paralaxSlice4(data-stellar-background-ratio='0.5')
			section.color4.slice
					.ctaBox.ctaBoxFullwidth
							.container
								.row(style="height:40px;")
									.col-sm-1(style="height:20px;")
										h1(style="font-size:4em;font-style:italic;")
											|1
									.col-sm-5(style="margin-top:-5px;margin-left:-20px;height:20px;")
										p(style="font-size:2em;")
											|設計編輯
										p(style="font-size:1em;")
											|下載AppCross Studio Plug-ins for Adobe InDesign

			section
				.container
					.row(style="margin-top:30px;")
						.col-md-5.col-sm-6
							.pricingBloc.focusPlan
								a.btn.btn-blue.btn-lg(onclick="", style="width:100%;font-size:17px;font-family : Myriad Pro Regular")
									img(src='/images/viewPlus/download_button_icon_normal.png', style="margin-left:-10px;margin-top:-5px;")
									| &nbsp;下載 Windows Plug-ins for InDesign CS6.0
								p(style="text-align:left;background-color :white;")
									| 設計者可透過 Adobe InDesign以及 App Cross 提供的17種增 效模組,快速創造屬於自我風格的高互動App !
									br
									br
									| 您可享有以下幾項強大的的功能:
									br
									span.glyphicon.glyphicon-ok	
									| &nbsp;高互動效果模組,例如晃動效果、互動按鈕、幻燈片...
									br
									span.glyphicon.glyphicon-ok	
									| &nbsp;連網服務模組,例如網頁內嵌、置入影片、輪播廣告...
									br
									span.glyphicon.glyphicon-ok	
									| &nbsp;客製化模組,例如明信片、語音跟讀、圖像塗鴉...
									br
									span.glyphicon.glyphicon-ok	
									| &nbsp;及時在行動裝置上預覽
									br
									br
									| 您只需要在電腦上安裝完成Adobe InDesign CS6.0或CS5.5版 本,便可立即開始使用! &nbsp;&nbsp;&nbsp;
									a(href="#")
										安裝說明
								p(style="color:#FF0000!important;text-align:left;background-color :white; ")
									img(src='/images/viewPlus/download_button_icon_PDF_normal.png', alt='viewPlus website template')
									| &nbsp;&nbsp;&nbsp;下載PDF版使用手冊
						.col-md-1
						.col-md-6
							img.img-responsive(src='images/news/news2.jpg', alt='snowflake template image news')
					.row
						.col-lg-12(style="padding-top:100px;")
						.col-md-5.col-sm-6
							.pricingBloc.focusPlan
								h2(style="text-align:left; color : #118ACB!important;;  background-color : white;font-size:2em; font-family : 微軟正黑體;margin-top:10px; ")
									img(src='/images/viewPlus/download_windows.png', alt='viewPlus website template', style="margin-top:-5px;")
									| &nbsp;&nbsp;Windows
								a.btn.btn-blue.btn-lg(onclick="", style="width:100%;font-size:17px;")
									| 下載 Windows Plug-ins for InDesign CS6.0
								a.btn.btn-blue.btn-lg(onclick="", style="width:100%;font-size:17px;")
									| 下載 Windows Plug-ins for InDesign CS5.5
								a.btn.btn-blue.btn-lg(onclick="", style="width:100%;font-size:17px;")
									| 下載 Windows Plug-ins for InDesign CC
						.col-md-1.col-sm-6
						.col-md-5.col-sm-6
							.pricingBloc.focusPlan
								h2(style="text-align:left; color : #118ACB!important;;  background-color : white;font-size:2em; font-family : 微軟正黑體;margin-top:10px; ")
									img(src='/images/viewPlus/download_windows.png', alt='viewPlus website template', style="margin-top:-5px;")
									| &nbsp;&nbsp;Mac
								a.btn.btn-blue.btn-lg(onclick="", style="width:100%;font-size:17px;")
									| 下載 Mac Plug-ins for InDesign CS6.0
								a.btn.btn-blue.btn-lg(onclick="", style="width:100%;font-size:17px;")
									| 下載 Mac Plug-ins for InDesign CS5.5
								a.btn.btn-blue.btn-lg(onclick="", style="width:100%;font-size:17px;")
									| 下載 Mac Plug-ins for InDesign CC
			section.color4.slice
				.ctaBox.ctaBoxFullwidth
					.container
						.row(style="height:40px;")
							.col-sm-1(style="height:20px;")
								h1(style="font-size:4em;font-style:italic;")
									|2
							.col-sm-5(style="margin-top:-5px;margin-left:-20px;height:20px;")
								p(style="font-size:2em;")
									|快速預覽
								p(style="font-size:1em;")
									|在平板電腦上免費下載AppPreview
			section
				.container
					.row(style="margin-top:50px;margin-bottom:90px;")
						.col-md-2
							img.img-responsive(src='images/news/news2.jpg', alt='snowflake template image news')
						.col-md-4
							h1
								img(src='/images/viewPlus/download_preview_mac.png', style="margin-left:-10px;margin-top:-10px;")
								| &nbsp;Mac
							a.btn.btn-blue.btn-lg(onclick="", style="width:100%;font-size:17px;font-family : Myriad Pro Regular;text-transform: none;")
								img(src='/images/viewPlus/download_button_icon_normal.png', style="margin-left:-10px;margin-top:-5px;")
								| &nbsp;下載 iOS AppPreview
							p(style="margin-top:10px;font-size:12px;")
								| 更新日期:2014-02-14 版號:v.1.14.0214
						.col-md-2
							img.img-responsive(src='images/news/news2.jpg', alt='snowflake template image news')
						.col-md-4
							h1
								img(src='/images/viewPlus/download_preview_android.png', style="margin-left:-10px;margin-top:-10px;")
								| &nbsp;Android
							a.btn.btn-blue.btn-lg(onclick="", style="width:100%;font-size:17px;font-family : Myriad Pro Regular;text-transform: none;")
								img(src='/images/viewPlus/download_button_icon_normal.png', style="margin-left:-10px;margin-top:-5px;")
								| &nbsp;下載 Android AppPreview
							p(style="margin-top:10px;font-size:12px;")
								| 更新日期:2014-02-14 版號:v.1.14.0214
			section.color4.slice
				.ctaBox.ctaBoxFullwidth
					.container
						.row(style="height:40px;")
							.col-sm-1(style="height:20px;")
								h1(style="font-size:4em;font-style:italic;")
									|3
							.col-sm-5(style="margin-top:-5px;margin-left:-20px;height:20px;")
								p(style="font-size:2em;")
									|封裝發佈
								p(style="font-size:1em;")
									|在行動裝置下載 AppPreview
			section
				.container
					.row(style="margin-top:50px;margin-bottom:90px;")
						.col-md-5.col-sm-6
							div(style="align:left;")
								a.btn.btn-blue.btn-lg(onclick="", style="font-size:17px;font-family : Myriad Pro Regular")
									img(src='/images/viewPlus/download_button_icon_normal.png', style="margin-left:-10px;margin-top:-5px;")
									| &nbsp;立刻體驗
							p(style="text-align:left;background-color :white;margin-top:30px;line-height:25px;")
								| 使用者可透過 App Cross Server 將製作完成的電子書,進行 章節的編輯,經過封裝落版後,即可上架至 App Store或 Google Play !
								br
								br
								| 您可享有以下幾項強大的的功能:
								br
								br
								span.glyphicon.glyphicon-ok	
								| &nbsp;階層式的成員管理,可輕鬆指派任務以及權限的分配
								br
								span.glyphicon.glyphicon-ok	
								| &nbsp;快速建立書櫃或單一 App ,並上架至雙平台
								br
								span.glyphicon.glyphicon-ok	
								| &nbsp;即時發佈訊息推播,以達商業效益
								br
								span.glyphicon.glyphicon-ok	
								| &nbsp;使用者行為量化分析
								br
								br
						.col-md-7
							img.img-responsive(src='images/news/news2.jpg', alt='snowflake template image news')
			// content 
			//	footer 
			footer
				section#mainFooter
					#footer.container
						.row
							.col-sm-12(style="text-align:center;")
								p
									客戶服務專線:02-26535588&nbsp&nbsp傳真:02-27885008&nbsp&nbsp服務時間:週一∼六 8:00~19:00,週日、例假日 9:00~18:00,365天全年無休
								p
									樂閱科技股份有限公司&nbsp&nbsp地址:115 台灣台北市大安區敦化北路一段47號
								p
									Copyright © 2014 www.viewplus.com.tw&nbsp&nbsp&nbspAll Right Reserved.
							
			// End footer 
		//	global wrapper 
		// End Document	================================================== 
		script(type='text/javascript', src='/js/jquery.validate.js')
		script(type='text/javascript', src='/js-plugin/respond/respond.min.js')
		script(type='text/javascript', src='/js-plugin/jquery/1.8.3/jquery.min.js')
		script(type='text/javascript', src='/js-plugin/jquery-ui/jquery-ui-1.8.23.custom.min.js')
		// third party plugins	
		script(type='text/javascript', src='/bootstrap/js/bootstrap.js')
		script(type='text/javascript', src='/js-plugin/easing/jquery.easing.1.3.js')
		script(type='text/javascript', src='/js-plugin/flexslider/jquery.flexslider-min.js')
		script(type='text/javascript', src='/js-plugin/isotope/jquery.isotope.min.js')
		script(type='text/javascript', src='/js-plugin/neko-contact-ajax-plugin/js/jquery.form.js')
		script(type='text/javascript', src='/js-plugin/neko-contact-ajax-plugin/js/jquery.validate.min.js')
		script(type='text/javascript', src='/js-plugin/magnific-popup/jquery.magnific-popup.min.js')
		script(type='text/javascript', src='/js-plugin/parallax/js/jquery.scrollTo-1.4.3.1-min.js')
		script(type='text/javascript', src='/js-plugin/parallax/js/jquery.localscroll-1.2.7-min.js')
		script(type='text/javascript', src='/js-plugin/parallax/js/jquery.stellar.min.js')
		//	<script type="text/javascript" src="/js-plugin/smoothscroll/SmoothScroll.js"></script> 
		script(type='text/javascript', src='/js-plugin/pageSlide/jquery.pageslide-custom.js')
		script(type='text/javascript', src='/js-plugin/jquery.sharrre-1.3.4/jquery.sharrre-1.3.4.min.js')
		script(type='text/javascript', src='/js-plugin/owl.carousel/owl-carousel/owl.carousel.min.js')
		script(type='text/javascript')
			$(document).ready(function(){
				jQuery.validator.addMethod("byteRangeLength", function(value, element, param) {
					var length = value.length;
					for (var i = 0; i < value.length; i++) {
						if (value.charCodeAt(i) > 127) {
							length++;
						}
					}
					return this.optional(element) || (length >= param[0] && length <= param[1]);
				}, $.validator.format("字元過長")); 
				jQuery.validator.addMethod("stringTest", function(value, element) {
					return this.optional(element) || /^[\u0391-\uFFE5\w]+$/.test(value);  
				}, $.validator.format("特殊字元")); 
				jQuery.validator.addMethod("alphanumericspecial", function(value, element) {
					return this.optional(element) || value == value.match(/^[-a-zA-Z0-9]+$/);
					//(/^[-a-zA-Z0-9_ ]+$/)  最後的"_ "表示底線與space驗證
				}, "Only letters, Numbers & Space/underscore Allowed.");
				
				jQuery.validator.addMethod("phone", function (value, element) {  
					var length = value.length;  
					var mobile = /^(((13[0-9]{1})|(15[0-9]{1}))+\d{8})$/;  
					var tel = /^\d{1,3}-?\d{7,8}$/;  
					return this.optional(element) || (tel.test(value) || mobile.test(value));  
				}, "Please specify a valid phone number");  
				$("#register_form").validate({
					rules:{
						name:{required:true,byteRangeLength:[1,10]},
						email:{ required:true, email:true },
						pwd:"required",
						pwd_confirm:{ required:true, equalTo:"#pwd" },
						company:{required:true, byteRangeLength:[1,20], stringTest:true},
						position:{required:true, byteRangeLength:[1,20], stringTest:true},
						phone:{required:true,phone:true},
						cellPhone:{required:true,phone:true}
					},
					messages:{
						name:"",
						email:"",
						pwd:"",
						pwd_confirm:"",
						company:"",
						position:"",
						phone:"",
						cellPhone:"WRONG"
					},
					errorClass: "help-inline",
					errorElement: "span",
					highlight:function(element, errorClass, validClass) {
						$(element).parents('.control-group').removeClass('success');
						$(element).parents('.control-group').addClass('error');
					},
					unhighlight: function(element, errorClass, validClass) {
						$(element).parents('.control-group').removeClass('error');
						$(element).parents('.control-group').addClass('success');
					},
					submitHandler: function(form) {
						submitRegister();
					}
				});
			});
			function submitRegister(){
				var formData = new FormData(document.getElementById("register"));
			}