extends main-layout
block content
	div#features
		section.color4.slice
				.ctaBox.ctaBoxFullwidth
						.container
							.row
								.col-md-2
								.col-md-8
									h1(style="text-align:center;font-size:3em;margin-top:50px;")
										產品特色
									p(style="text-align:center;font-size:21px;margin-top:50px;line-height:32px;")
										| 提供優化編輯流程協助業者出版數位刊物、型錄、及製作互動式APP,
										br
										| 並上架至App store以及Google play,以及提供使用者經驗效益分析。
								.col-md-2
						

		section
			.container.imgHover
				.row
					.col-lg-12(style="padding-top:100px;")
						.col-sm-6(style="margin-top:50px;")
							h1.noSubtitle
								|數位出版
							p(style="font-size: 18px;")
								| 整合專業數位內容和編輯人才,提供數位出版系統服務,滿足數位期刊內容產製流程，自動化期刊上架與書櫃模式App生成，透過雲端管理整合內容與硬體服務，協助內容出版商與讀者優化編輯流程與體驗。
								br
								br
								br
						article.col-sm-6
							section.imgWrapper
								img.img-responsive(src='images/news/news2.jpg', alt='snowflake template image news')
						article.col-sm-6
							section.imgWrapper
								img.img-responsive(src='images/news/news2.jpg', alt='snowflake template image news')
						.col-sm-6(style="margin-top:50px;")
							h1.noSubtitle
								|連網服務
							p(style="font-size: 18px;")
								| 提供多媒體訊息推播服務,整合Google map、YouTube和Fa- cebook社群分享內容等網路服務,適用於限時行銷活動以及適性化內容推播。
								br
								br
								br
				.row
					.col-lg-12(style="padding-top:0px;")
						.col-sm-6(style="margin-top:50px;")
							h1.noSubtitle
								|行動廣告
							p(style="font-size: 18px;")
								| 結合數位出版流程提供互動廣告模組,搭配後台分析系統,提供會員管理服務以及最佳廣告投遞時間點、地點分析、使用者行為和行動裝置種類,靈活運用廣告投遞資源。
								br
								br
								br
						article.col-sm-6
							section.imgWrapper
								img.img-responsive(src='images/news/news2.jpg', alt='snowflake template image news')
						article.col-sm-6
							section.imgWrapper
								img.img-responsive(src='images/news/news2.jpg', alt='snowflake template image news')
						.col-sm-6(style="margin-top:50px;")
							h1.noSubtitle
								|互動裝置
							p(style="font-size: 18px;")
								| 跨平台支援雙系統IOS與ANDROID技術,將設計內容落實轉換 行動APP,結合兼具美感內容與行動裝置互動體驗,搭配版本控 制的內容出版模式,降低企業開發成本。
								br
								br
								br
			

		section#c3.slice
			.container.imgHover
				.row
					.col-lg-12(style="padding-top:100px;")
						h1(style="text-align:left")
							互動教材
				
					article.col-sm-4
						section.imgWrapper
							img.img-responsive(src='images/news/news1.jpg', alt='Ashleye template image news')
						.mediaHover
							.mask
							.iconLinks
								a.image-link(href='images/news/news1.jpg', title='Zoom')
									i.icon-search.iconRounded.iconBig
									span zoom
						section.newsText(style="text-align:center")
							h1.noSubtitle(style="font-size:2em") 1. 設計編輯
							p(style="font-size: 18px;")
								| 設計者可透過Adobe InDesign的編輯 軟體以及 App Cross 提供的17種增效 模組,快速創造屬於自我風格的高互 動App !
								br
								br
								br
					article.col-sm-4
						section.imgWrapper
							img.img-responsive(src='images/news/news1.jpg', alt='Ashleye template image news')
						.mediaHover
							.mask
							.iconLinks
								a.image-link(href='images/news/news1.jpg', title='Zoom')
									i.icon-search.iconRounded.iconBig
									span zoom
						section.newsText(style="text-align:center")
							h1.noSubtitle(style="font-size:2em") 2. 快速預覽
							p(style="font-size: 18px;")
								| 支援跨平台(iOS/Android)預覽服 務,搭配行動裝置特色,提供高互動 性的操作介面。
								br
								br
								br
					article.col-sm-4
						section.imgWrapper
							img.img-responsive(src='images/news/news1.jpg', alt='Ashleye template image news')
						.mediaHover
							.mask
							.iconLinks
								a.image-link(href='images/news/news1.jpg', title='Zoom')
									i.icon-search.iconRounded.iconBig
									span zoom
						section.newsText(style="text-align:center")
							h1.noSubtitle(style="font-size:2em") 3. 封裝發佈
							p(style="font-size: 18px;")
								| 協同內容編輯與落版,快速將製作完 成的電子書即可上架至 App Store或Google Play ,整合網路服務與廣告效益分析。
								br
								br
							br