extends main-layout
block content
	section#prices
		.container.imgHover
			.row
				.col-lg-12(style="padding-top:100px;")
					h1
						|產品價目
					h2.subTitle
						| APP CROSS給您 專業的服務及透明化的價格,歡迎您與我們聯絡
			.row(style="padding-bottom:100px;")
				.col-lg-12(style="padding-top:100px;")
					article.col-sm-4
						section.imgWrapper
							img.img-responsive(src='images/news/news2.jpg', alt='snowflake template image news')
					article.col-sm-4
						section.imgWrapper
							img.img-responsive(src='images/news/news2.jpg', alt='snowflake template image news')
					article.col-sm-4
						section.imgWrapper
							img.img-responsive(src='images/news/news2.jpg', alt='snowflake template image news')